@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cormorant+Garamond:wght@300&family=Smooch+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cormorant Garamond, 'Times New Roman', Times, serif;
    width: 100%;
}

#title {
    font-family: Amatic SC, Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.title-image {
    background-image: url("https://res.cloudinary.com/ddxxrzq7g/image/upload/v1646105774/pink_flowers_pskkjx.jpg");
    height: 70%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}