@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Cormorant+Garamond:wght@400;500&family=Smooch+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Cormorant Garamond, 'Times New Roman', Times, serif;
    width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

#title {
    font-family: Amatic SC, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
}

.nav {
    position: fixed;
}

.nav-item {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}

.nav-item > a{
    text-align: right;
}

.img-container {
    width: 100%;
    min-height: 30%;
    overflow: hidden;
}

.add-post-image img {

    

}

.img-container-2 {
    
}

.title-image {
    width: 100%;
    max-height: 30%;
    background-size:contain;
    position: absolute;
    object-fit:cover;
    z-index: -1;
}

.post-card {
    margin-top: 2rem;
    text-align: center;
}

.post-card-image {
    background-size:cover;
    height: 20rem;
    object-fit:contain;
}

.asteriskField {
    display: none;
}

.wrong-user {
    text-align: center;
    display: flex;
        width: 50%;
        height: 200px;
        margin: auto;
        align-items:center;
        justify-content:center;
}