{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
<div class="container-fluid">
    <div class="row col-md-6">
        <div>
            <h2>DELETE</h2>
        </div>
        <div class="form-group">
            <form action="" method="POST" enctype="multipart/form-data" class="add-post-form">
                {% csrf_token %}
                <strong>Are you sure you want to delete {{ post.title }}?</strong>
                
                <button type="submit" class="btn btn-primary">Delete</button>
            </form>
        </div>
    </div>
</div>
{% else %}
<div>
    <h2 class="wrong-user">Oops, looks like you are the wrong user. Please sign in.</h2>
</div>
{% endif %}
{% else %}
<div>
<h2 class="wrong-user">Oops, looks like you are the wrong user. Please sign in.</h2>
</div>
{% endif %}
{% endblock %}
{% endblock %}