{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-6 col-lg-4 post-card">
            <div class="card">
                <div class="post-header">
                    <a href="{% url 'open_post' post.slug  %}" class="btn"><h2>{{ post.title }}</h2></a>
                    <p>{{ post.excerpt | safe }}</p>
                    <h5>{{ post.author }} | {{ post.created_on}} </h5>
                </div>
                <div class="fakeimg" style="height:200px;">Image</div>


                <p class="card-text">{{post.content | slice:":200" | safe }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}