{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="post-page post-card">
            <div class="card">
                <div class="post-header">
                    <h2>{{ post.title }}</h2>
                    <h5>{{ post.author }} | {{ post.created_on}} </h5>
                </div>
                {% if 'placeholder' in post.image.url %}
                <div class="post-card-image"></div>
                {% else %}
                <img alt="card-img-top" src="{{ post.image.url }}">
                {% endif %}

                <h3>{{ post.excerpt | safe }}</h3>

                <p class="card-text">{{post.content | safe }}</p>
            </div>
        </div>
        {% for comment in comments %}
        <div class="comments-section">
            <h4>
                {{ comment.name }}
                <span>
                    {{ comment.created_on }}
                </span>
            </h4>
            <p>
            {{ comment.body | linebreaks }}
            </p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}